:host {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4px;
    gap: 3px;
}

.selected {
    margin-bottom: 20px;
}

.blocked {
    background: gray;
}